// Changing bulma variables and adding global styles

@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$black: #000000;
$blue: #14213D;
$orange: #FCA311;
$grey: #E5E5E5;
$white: #ffffff;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $orange;
$link: $blue;

// Update some of Bulma's component variables
$body-background-color: $grey;
$control-border-width: 2px;
$input-border-color: transparent;
$input-background-color: $white;
$input-shadow: none;
